.bpms-table-height {
    height: 80vh;
}

.bpms-table-width {
    width: 100%;
}

.bpms-table-position {
    position: relative;
    margin: auto;
    margin-top: 5rem;
}

.button-margin-bottom {
    margin-bottom: 1rem;
}

.table-button {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}