<form [formGroup]="retrievePasswordForm" (ngSubmit)="onSubmit()"
    class="auth-form">
    <mat-card class="text-center auth-form-container auth-form-padding form-width">
        <div>
            <mat-card-title class="mat-card-title-override">
                Retrieve Lost Password
            </mat-card-title>
            <mat-card-content>
                <mat-form-field hideRequiredMarker floatLabel='auto' color='primary'
                    class="mat-form-field-width-override">
                    <mat-label>Email</mat-label>
                    <input type="email" id="email" placeholder="example@email.com" formControlName="email"
                        [errorStateMatcher]="matcher" matInput required>
                    <mat-error
                        *ngIf="retrievePasswordForm.controls['email'].errors?.email && !retrievePasswordForm.controls['email'].errors?.required">
                        Please enter a <strong>valid</strong> email address
                    </mat-error>
                    <mat-error *ngIf="retrievePasswordForm.controls['email'].errors?.required">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align='end'>
                <!-- <button [disabled]="!retrievePasswordForm.valid && !isDisabled" mat-flat-button color='primary'
                    type="submit">Submit</button> -->
                    <mat-spinner-button [options]="buttonOptions" (btnClick)="onSubmit()"></mat-spinner-button>
            </mat-card-actions>
        </div>
    </mat-card>
</form>